dwfunvar/src/main/mule/dwfunvar.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="84963421-28c4-4b39-ab9b-71c3eeec9722" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dwfunvarFlow" doc:id="b31daf8b-12ae-44c6-940f-a27c2f2cd4c5" >
		<http:listener doc:name="Listener" doc:id="2ebd7089-f7b5-4118-9cf5-cb0b6094e359" config-ref="HTTP_Listener_config" path="/dwVar" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="03fce925-9080-46e1-9f46-5165ac2f796f" message="test data =============="/>
		<logger level="INFO" doc:name="Logger" doc:id="3a3ca586-4609-4696-8070-657d95c4f34f" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="74a741d1-03ea-4b10-9a91-0555a83970ce">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
var myJson = {
  a: avg([1, 1000]),
  b: avg([1, 2, 3])
}

output application/json
---

myJson]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
