policyserviceapi-1.0.0-snapshot-mule-application/target/classes/policyservice.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
    <http:listener-config name="policyservice-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${https.port}" protocol="HTTPS">
			<tls:context >
				<tls:key-store type="jks" path="${keyStore.path}" alias="${keyStore.alias}" keyPassword="${keyStore.key_password}" password="${keyStore.password}" />
			</tls:context>
		</http:listener-connection>
    </http:listener-config>
    <apikit:config name="policyservice-config" raml="policyservice.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" api="api/policyservice.raml"/>
    <api-gateway:autodiscovery apiId="15883649" doc:name="API Autodiscovery" doc:id="c10790a0-323d-4262-b926-cc045ff827a6" flowRef="policyservice-main" />
	<configuration-properties doc:name="Configuration properties" doc:id="61830598-efaa-45a4-90e1-84ace3754dd2" file="config-properties.yaml" />
	<flow name="policyservice-main">
        <http:listener config-ref="policyservice-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <logger level="INFO" doc:name="Logger" doc:id="623f8b5f-7b24-40d5-9a7b-ede6f63680d0" message="FLOW STARTED"/>
		<apikit:router config-ref="policyservice-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="5df20843-6cf8-43eb-8c81-c6cec07a8e57">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
				<flow-ref doc:name="Flow Reference" doc:id="aac57207-75df-4379-892e-4d98fe24e45d" name="serviceErrorHandlerFlow"/>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
				<flow-ref doc:name="Flow Reference" doc:id="000ebcc0-d2d7-4840-86dc-858b15434ea7" name="serviceErrorHandlerFlow"/>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
				<flow-ref doc:name="Flow Reference" doc:id="d854cc1e-ca07-415f-af4f-75e6535af791" name="serviceErrorHandlerFlow"/>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
				<flow-ref doc:name="Flow Reference" doc:id="6a070f23-d39b-4d1c-badb-2077eeae8f5a" name="serviceErrorHandlerFlow"/>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
				<flow-ref doc:name="Flow Reference" doc:id="709ed027-13a2-4365-8f83-80a5fb734cf8" name="serviceErrorHandlerFlow"/>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
				<flow-ref doc:name="Flow Reference" doc:id="f3e7d3e2-66cf-4eaa-bdc1-c5405cc8b839" name="serviceErrorHandlerFlow"/>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\policy:policyservice-config">
		<logger level="INFO" doc:name="Logger" doc:id="1e4fb6b7-12af-4534-90d6-f0534d1d0940" message="Policy Service Done"/>
		<flow-ref doc:name="policy-implementation-call" doc:id="87390a3b-7d61-4559-8e28-b308621954c1" name="policyImplementationSub_Flow"/>
    </flow>
    <flow name="get:\autopolicy\(autoPolicyNumber):policyservice-config">
		<logger level="INFO" doc:name="Logger" doc:id="a9400b8e-3d6a-4b55-b313-b0941f5e9d3b" message="#[attributes.uriParams.autoPolicyNumber]"/>
		<flow-ref doc:name="autopolicy-implementation-call" doc:id="8fc6843e-2ee0-488f-a713-f962f0b95760" name="autoPolicyImplementationSub_Flow"/>
    </flow>
    <flow name="get:\homepolicy\(homePolicyNumber):policyservice-config">
		<logger level="INFO" doc:name="Logger" doc:id="44992709-9dc4-442b-b69c-b4b3a72c6b69" message="#[attributes.uriParams.homePolicyNumber]"/>
		<flow-ref doc:name="homepolicy-implementation-call" doc:id="07575fb6-97ba-47cc-adbb-d0d01b123ab5" name="homePolicyImplementationSub_Flow"/>
    </flow>
</mule>
