policyserviceapi-1.0.0-snapshot-mule-application/target/classes/serviceErrorHandler.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="serviceErrorHandlerFlow" doc:id="681c09bf-8851-4f4e-be50-363f3731d9f3" >
		<ee:transform doc:name="Transform Message" doc:id="6b5da0d0-f561-4d15-bd25-e7617f225d6e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	ESBerrors: {
		ApplicationArea: {
			TransactionInfo: {
				transactionId: correlationId,
				businessDomain: 'NA',
				serviceId: 'NA',
				InterfaceName: app.name,
				flowId: 'NA' ,
				flowName: flow.name,
				UserId: 'NA',
				executionStartTime: 'NA',
				ResponseRequired: 'NA',
				LogLevel: 'NA',
				LogPersistance: 'NA'
			}
		},
		transactionDetails: {
			attributes: message.attributes,
			variables: 'NA',
			payload: message.payload
		},
		internalErrorDetails: error.detailedDescription,
		errorResponse @(id: null): {
			errorMessage: error.errorMessage.attributes,
			errorTypeIdentifier: error.errorType.identifier,
			errorTypeNamespace: error.errorType.namespace,
			errorStatusCode: 'NA'
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="5210a781-3e61-4ef5-9e47-d8962d2901b3" />
		<http:request method="POST" doc:name="Request" doc:id="a1127060-b341-45f4-b46e-f994a26c78f9" url="http://errordemopoc.us-e2.cloudhub.io/errorHandler"/>
	</flow>
</mule>
